
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
nav{
    width: 100vw;
    height: 80px;
    background: white;
    box-shadow: 0 0 5px #46424252;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7em;
    border-bottom: 1px solid #fcfcfc;
}

.logo{
    font-size: 30px;
    margin: 5%;
}
ul{
    display: flex;
    padding: 10px;
    margin: 5%;
}
ul li{
    list-style: none;
}
ul li a{
    color: black;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
}
#login{
    color: white;
    background: red;
    padding: 8px 18px;
    border-radius: 10px;
    margin-left: 20px;
}
/*---------------------------------HERO------------------------------*/
.hero{
    width: 100vw;
    height: 90vh;
    background: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
}
.hero-content h1{
    font-size: 50px;
}
.hero-content p{
    font-size: 20px;
    margin-top: 3%;
    max-width: 30vw;
    margin-bottom: 10%;
}
.hero-img-container{
    width: 40vw;
    height: 70vh;
    background: white;
}
#get-started-btn{
    text-decoration: none;
    padding: 5px 15px;
    border: 2px solid black;
    color: black;
}
/*-------------------------------GET STARTED ------------------------------*/
.get-started{
    width: 100vw;
    height: 40vh;
    background:white;
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.get-started-content{
    width: 80vw;
    margin:auto ;
    text-align: center;
}
.get-started-content h2{
    font-size: 50px;
    margin-bottom: 2%;
}
.get-started-content p{
    font-size: 20px;
}
/*------------------------------------- SECTION 2 ----------------------------------------*/

.section-2{
    width: 100vw;
    height: 80vh;
    background: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.section-2-container{
    width: 40vw;
    height: 70vh;
    background: white;
}

.section-2-content{
    width: 40vw;
}
.section-2-content h2{
    font-size: 35px;
    margin-bottom: 2%;
}
.section-2-content p{
    font-size: 20px;
    margin-bottom: 5%;
}
#section-2-btn{
    text-decoration: none;
    padding: 5px 15px;
    border: 2px solid black;
    color: black;
}
/*-------------------------------------DISCORD------------------------------------*/
.discord-section{
    width: 100vw;
    height: 20vh;
    background: white;
}

/*---------------------------------------SECTION 3 --------------------------------*/
.section-3{
    width: 100vw;
    height: 70vh;
    background: rgb(228, 228, 198);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.section3-content{
    width: 45vw;
}
.section3-content h2{
    font-size: 30px;
    margin-bottom: 2%;
}
.section3-content p{
    font-size: 20px;
    margin-bottom: 5%;
}
#section-3-btn{
    text-decoration: none;
    padding: 5px 15px;
    border: 2px solid black;
    color: black;
}

.section3-container{
    width: 40vw;
    height: 50vh;
    background-color: white;
}
/*------------------------------------------SECTION 4--------------------------------*/
.section-4{
    width: 100vw;
    height: 70vh;
    background: rgb(228, 228, 198);
    border-top: 1px solid rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.section4-container{
    width: 40vw;
    height: 50vh;
    background-color: white;
}
.section4-content{
    width: 45vw;
}
.section4-content h2{
    font-size: 30px;
    margin-bottom: 2%;
}
.section4-content p{
    font-size: 20px;
    margin-bottom: 5%;
}
#section-4-btn{
    text-decoration: none;
    padding: 5px 15px;
    border: 2px solid black;
    color: black;
}
/*-----------------------------ABOUT_US--------------------------------------------*/
.about-us{
    width: 100vw;
    height: 80vh;
}
/*--------------------------------FOOTER--------------------------------------*/
footer{
    width: 100vw;
    height: 50vh;
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    color: black;
    font-size: 20px;
    transition: .3s;
}

.footer-social-icons a:hover{
    color: white;
    background-color: #333;
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
/*-------------------------------FOOTER BTN---------------------------------------------------*/
.footerbtn{
    width: 100vw;
    height: 80px;
    background-color: #111;
}

