*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100vw;
    height: 80px;
    background: white;
    box-shadow: 0 0 5px #46424252;
    position: fixed;
    top: 0;
}
/*---------------------------------HERO------------------------------*/
.hero{
    width: 100vw;
    height: 100vh;
    background: beige;
}
/*-------------------------------GET STARTED ------------------------------*/
.get-started{
    width: 100vw;
    height: 40vh;
    background:beige;
    margin-top: 2%;
}
/*------------------------------------- SECTION 2 ----------------------------------------*/

.section-2{
    width: 100vw;
    height: 70vh;
    background: rgb(228, 228, 198);
}

/*-------------------------------------DISCORD------------------------------------*/
.discord-section{
    width: 100vw;
    height: 20vh;
    background: rgb(134, 2, 2);
}
/*---------------------------------------SECTION 3 --------------------------------*/
.section-3{
    width: 100vw;
    height: 50vh;
    background: rgb(228, 228, 198);
}
/*------------------------------------------SECTION 4--------------------------------*/
.section-4{
    width: 100vw;
    height: 70vh;
    background: rgb(228, 228, 198);
    border-top: 1px solid red;
}